<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cricket247online - Login</title>
	<meta name="theme-color" content="#c4262b">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/admin_panel/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/admin_panel/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/admin_panel/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/admin_panel/css/util.css">
	<link rel="stylesheet" type="text/css" href="/admin_panel/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90" id="message">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="/admin_panel/auth/login">
					<span class="login100-form-title p-b-51">
						Login
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					


					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Login
						</button>
						
						<br>
						<br>
						<% if(typeof Message != 'undefined'){ %>
							<% if(Message != ""){ %>
								<alert class="alert alert-danger col-md-12 text-center">
									<b><%=Message%></b>
								</alert>
							<% } %>
						<% } %>
						<div class="clearfix"></div>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="/admin_panel/js/jquery.min.js"></script>
<!--===============================================================================================-->

	<script src="/admin_panel/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="/admin_panel/js/main.js"></script>
	<script>
	function detectIE() {
    var ua = window.navigator.userAgent;

    var msie = ua.indexOf('MSIE ');
    if (msie > 0) {
        // IE 10 or older => return version number
        return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
    }

    var trident = ua.indexOf('Trident/');
    if (trident > 0) {
        // IE 11 => return version number
        var rv = ua.indexOf('rv:');
        return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
    }

    // var edge = ua.indexOf('Edge/');
    // if (edge > 0) {
    //    // Edge (IE 12+) => return version number
    //    return parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
    // }

    // other browser
    return false;
}
if(detectIE()){
	document.getElementById('message').innerHTML = '<h3 class="login100-form-title text-center">Internet Explorer Not Supported</h3><h4 class="text-center">Use <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firfox</a> or <a href="https://www.google.com/chrome/">Google Chrome</a></h4>'
}
	</script>
</body>
</html>