<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/admin_panel/assets/css/bootstrap.min.css' />
    <title>Signup - Passport</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Sign Up</h1>
          </div>
          <div class="col-md-4 col-sm-0">

          </div>
          <div class="col-md-4 col-sm-offset-4">
          <form method="POST" action="/admin_panel/auth/signup">
            <div class="form-group">
              <label><b>Username</b></label>
              <input type="text" class="form-control" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label><b>Password</b></label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group text-center">
              <button type="submit" class="form-control btn btn-primary">Sign Up</button>
            </div>
          </form>
        </div>
  </div>
    </div>
    <script src="/admin_panel/assets/js/jquery.min.js"></script>
    <script src="/admin_panel/assets/js/bootstrap.min.js"></script>
  </body>
</html>
