<!--Header Start-->
<header class="header color-2" id="header">
            <div class="logo-nav">
                <div class="container-fluid">
                    <div class="row">
                        <!--Logo Start-->
                        <div class="col-md-3 nop">
                            <div class="logo">
                                <a  class="navbar-brand" href="/admin_panel">
                                   Cricket247Online                     
                                </a>
                            </div>
                        </div>
                        <!--Logo End-->

                        <!--Nav Start-->
                        <div class="col-md-9">
                            <div class="header-navbar">
                                <nav>
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                             <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar">

                                             </span> <span class="icon-bar">
                                                 
                                             </span> </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <!-- <li> <a href="#">DASHBOARD <span class="caret"></span></a>
                                                <ul class="sub-menu">
                                                    <li><a href="index-2.html">Home</a></li>
                                                    <li><a href="index-3.html">Home Two</a></li>
                                                    <li><a href="full/index.html">Home Full Width</a></li>
                                                </ul>
                                            </li> -->
                                            <li><a href="/"  target="_blank" kind="" srclang="" label="">VISIT WEBSITE</a></li>
                                            <li> <a href="#">Manage User <span class="caret"></span></a>
                                                <ul class="sub-menu"> 
                                                <% if(userData.admin_type == 1){ %>
                                                    <li><a href="/admin_panel/manage_admin">Manage Admin</a></li>
                                                    <li><a href="/admin_panel/admin_online_users">Online Admin</a></li>
                                                    <% } %>
                                                    <li><a href="/admin_panel/online_users">Online User</a></li>
                                                    <li><a href="/admin_panel/manage_registered_member">Register Member</a></li>
                                                </ul>
                                            </li>
                                            <li> <a href="#">MANAGEMENT SECTION <span class="caret"></span></a>
                                                <ul class="sub-menu">
                                                    <li><a href="/admin_panel/manage_game">1. Manage Game</a></li>                                                  
                                                    <li><a href="/admin_panel/manage_game_event">2. Manage Game Event</a></li>
                                                    <li><a href="/admin_panel/manage_game_date">3. Manage Game Date</a></li>
                                                    <li><a href="/admin_panel/manage_live_game">4. Manage Live Game</a></li>
                                                    <li><a href="/admin_panel/create_matchodds">5. Create Match Analysis</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/admin_panel/match_odds_selection">Match Analysis</a></li>
                                            
                                            <li>
                                                    <a href="/admin_panel/logout" class="nav-li-active-btn" style="
                                                        background: linear-gradient(to bottom, rgba(28,46,92,1) 0%, rgba(17,31,68,1) 100%);
                                                    ">
                                                    Logout &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i>
                         
                                                    </a>
                                                 </li>
                                        </ul>
                                    </div>
                                    <!-- /.navbar-collapse -->
                                    <!--Nav End-->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </header>
        <!--Header End-->