<meta charset="utf-8">
<meta name="theme-color" content="#c4262b">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">
    <title>Cricket247Online Admin</title>
    <link rel="icon" type="image/x-icon" href="/admin_panel/images/fav.png" />
    <link rel="preconnect" href="http://cricket247online.com:5000/">

    <!-- Css Files -->
    <link href="/admin_panel/css/custom.css" rel="stylesheet">
    <link href="/admin_panel/css/color.css" rel="stylesheet">
    <link href="/admin_panel/css/responsive.css" rel="stylesheet">
    <link href="/admin_panel/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin_panel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin_panel/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin_panel/css/prettyPhoto.css" rel="stylesheet">
    <link href="/admin_panel/css/responsive-tbl.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
